#### Excluding all files except code directories ####
# from https://gist.github.com/hieblmedia/9318457

# Exclude all from git
/**

# Include .gitignore and README
!/.gitignore
!/README.md

# Include code directories
!/qPCR/
/qPCR/**
!/qPCR/code/

# Extra
.Rproj.user
