#### Excluding all except code directories ####
# from https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder#5534865

# Exclude other top-level files
.git
.Rproj.user
.Rhistory
.Rproj

# Exclude sub-subdirectories
**/data
**/output
**/reports


